#navbar{
    color: white;
    padding: 10px;
    text-align: center;
}

#sidebar a {
    color: #19D8D8;
}

a .mr-4 .h-4.w-4.secondary-opacity.group-hover\:fill-primary-dark.group-hover\:bg-white.bg-gray-400.dark\:bg-gray-500 {
    color:#19D8D8;
    background-color: #19D8D8;
  }

.text-primary {
    color: #19D8D8 !important;
}

.text-primary-light {
    color: #19D8D8 !important;
}

#header .eyebrow {
    color: #19D8D8; 
}
#header a {
    color: #19D8D8;
}

#header a:hover {
    color: #19D8D8;
}

#topbar-cta-button .group .absolute {
    background-color: rgba(255, 255, 255, 0.862) !important; 
    border: none !important;          
    width: 150px !important;    
    height: 32px !important;         
    border-radius: 7px !important;        
}

html:not(.dark) #topbar-cta-button .group .absolute {
    background: linear-gradient(to left, #014159, #012e42)!important; 
    border: none !important;          
    width: 150px !important;    
    height: 32px !important;         
    border-radius: 7px !important;        
}

html:not(.dark) #topbar-cta-button .group span {
    color: rgb(255, 255, 255) !important;
    font-size: medium !important;
    font-weight: bold !important;
    
}

html:not(.dark) #topbar-cta-button .group svg {
    color: rgb(255, 255, 255) !important;
}

#topbar-cta-button .group span {
    color: black !important;
    font-size: medium !important;
    font-weight: bold !important;
    
}

#topbar-cta-button .group svg {
    color: black !important;
}

.absolute.bottom-0.h-\[1\.5px\].w-full.bg-primary.dark\:bg-primary-light {
    background: #19D8D8;
  }



.eyebrow.h-5.text-primary.dark\:text-primary-light.text-sm.font-semibold {
    border: 0px solid #19D8D8; 
    padding: 20px 17px; 
    background: linear-gradient(to bottom right, #1E2B34, #122029);
    border-radius: 5px; 
    font-size: large;
    font-weight: normal;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    margin-bottom: 20px;
    color: white !important;
}

.mt-12.lg\:mt-8 h5, 
.mt-12.lg\:mt-8 li a div {
    color: white !important; 
}


.mt-12.lg\:mt-8 li a.active,
.mt-12.lg\:mt-8 li a:focus,
.mt-12.lg\:mt-8 li a:active {
    background-color: rgba(25, 216, 216, 0.3) !important; 
    border-color: rgba(25, 216, 216, 0.3) !important;   
}


html:not(.dark) .mt-12.lg\:mt-8 h5 {
    color: black !important; 
}

html:not(.dark) .mt-12.lg\:mt-8 li a div {
    color: black !important; 
}

html:not(.dark) .eyebrow.h-5.text-primary.dark\:text-primary-light.text-sm.font-semibold {
    border: 0px solid #19d8d834; 
    padding: 20px 17px; 
    background: #e6f8fa; 
    border-radius: 5px; 
    border: 1px solid #80dae5;
    font-size: large;
    font-weight: normal;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    margin-bottom: 20px;
    color: black !important;
}


.flex-1 a img.w-auto.h-7.relative.object-contain.block.dark\:hidden {
    width: 140px; 
    height: 60px; 
}

/* Increase the size for dark mode logo */
.flex-1 a img.w-auto.h-7.relative.object-contain.hidden.dark\:block {
    width: 140px; 
    height: 60px; 
}

/* Change background color in light mode */
/* Apply linear gradient for light mode */
.bg-background-light {
    background: #000F19 !important;
}


html:not(.dark) .bg-background-light {
    background-color:  #f2f2f2 !important; /* Your preferred color for light mode */
}
